.row {
    padding: 20px;
}
div{ 
    text-align: center;
}

@media (min-width:576px){
    #fotodeperfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
    }
}

@media (max-width:575px){
    #fotodeperfil{
        width: 100px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        margin-top: 40%;
    }
    #nombre{
        font-weight: bold;
        margin-top: 10%;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 20%;
}
