<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
   ></circle-progress>
   </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="100"
    [showUnits]="false"
    [title]="'CSS'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
   ></circle-progress>
   </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="35"
    [radius]="100"
    [showUnits]="false"
    [title]="'JAVASCRIPOT'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'yellow'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
   ></circle-progress>
   </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="35"
    [radius]="100"
    [showUnits]="false"
    [title]="'GITHUB'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'white'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
   ></circle-progress>
   </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="35"
    [radius]="100"
    [showUnits]="false"
    [title]="'FRONTEND'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'violet'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
   ></circle-progress>
   </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="55"
    [radius]="100"
    [showUnits]="false"
    [title]="'INGLES'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
   ></circle-progress>
   </div>
</div>

